.Whiteboard {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      background-color: white;
  }
  body {
    overflow: hidden; /* Hide scrollbars */
  }
  .color-picker-container {
    position: relative;
    margin-right: 40rem;
    margin-top: -5rem;
  }
  .color-picker-palette {
    margin-right: 40rem;
    position: absolute;
    z-index: 100;
  }
  
  .color-picker-cover {
    top: 1px;
    left: 0px;
    bottom: 0px;
    right: 0px;
  }
  .icon-bar{
    margin-top:-30px;
    width: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
  }
  
  .color-picker-color-background {
    position: fixed;
    height: 35px;
    width: 35px;
    background-color: #999999;
    float: left;
  }
  .icon-bar button {
    margin-top: 10px;
    width: auto;
    text-align: center;
    transition: all 0.3s ease;
    font-size: 40px;
  }
  
  .icon-vbar {
    margin-right: 60rem;
    margin-top:5px;
    width: 100%;
    background-color: #f0f0f0;
    overflow: auto;
    position:relative;
  }
  
  .icon-vbar div {
    display: inline-block;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    color: white;
    font-size: 8px;
  }
  
  body.app{
    background-color: white;
  }
  