* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

body.app{
  overflow:scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.home,
.about,
.sign-up {
  display: flex;
  height:1000px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}