
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 50vw;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px grey;
    background: white;
}

.home > .button {
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}