.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f4f6f8fa, #e3e4e270);
}

.color-picker-container {
    text-align: center;
    display: inline;
    color: white;
}
.board-container{
    width:90%;
    height:90%;
    margin:auto;
    margin-top:1%;
    background:white;
}

.brushsize-container {
    display: inline;
    color: white;
    margin-left: 12px;
}

.tools-section {
    text-align: center;
}
