.whiteboard {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: white;
    overflow: hidden;
    overflow-y: hidden;
}
body {
  overflow: hidden; /* Hide scrollbars */
}
.color-picker-container {
  position: relative;
  margin-right: 40rem;
  margin-top: -5rem;
}
.color-picker-palette {
  margin-right: 40rem;
  position:relative;
  margin-left:-20rem;
  margin-top: 20rem;
  z-index: 100;
}

.color-picker-cover {
  top: 50px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.icon-bar{
  margin-top:-3rem;
  width: 100%;
  background-color: #f0f0f0;
  overflow: scroll;
}

.color-picker-color-background {
  position: fixed;
  height: 35px;
  width: 35px;
  background-color: #070707;
  float: left;
}
.icon-bar button {
  margin-top: 10px;
  width: auto;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 40px;
}

.icon-vbar {
  margin-top:0rem;
  background-color: #f0f0f0;
  position:relative;
  width:20rem;
  margin-left: 1rem;
}

.icon-vbar div {
  display: inline-block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 8px;
  margin-left: 1rem;
 
}

body.app{
  background-color: white;
}
