.cards {
  padding: 2rem 2rem;
  background: #fff;
  display: flex;
}

body.App{
  background: rgb(168, 158, 158);
}
  
  h1 {
    text-align: center;
    font-family: "Trirong", serif;
    text-shadow: 3px 3px 3px #ababab;
    font-size: 50px;
    margin-top: 1rem;
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 125%;
    height:32rem;
    background-color: rgb(197, 237, 238);
    border-radius: 0px;
    border-color: black;
  }
  
  .cards__wrapper {
    position: absolute;
    margin: 50px 0 45px;
  }
  
  .cards__items {
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    width:25rem;
    height:25rem;
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 1000px;
    height: 350px;
    box-shadow: 0 6px 20px rgba(0, 24, 245, 0.959);
    -webkit-filter: drop-shadow(0 6px 20px rgba(11, 90, 238, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 126, 255, 0.938));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position:fixed;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  
  .cards__item__pic-wrap::after {
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    padding: 0px 0px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: rgba(243, 59, 59, 0);
    background-color: #ffffff;
    box-sizing: border-box;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 20px 30px 30px;
    align-items: center;
  }
  
  .cards__item__text {
    color: #252e48;
    font-size: 30px;
    font-family: "Trirong", serif;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }