button[id="individual"]{
    background-color: white;
    background-image: url("./individual.png");
    color: black;
    border: 2px solid #ffffff;
    width:20rem;
    height:20rem ;
    margin-top: -20rem;
    margin-left: 22rem;
    transition-duration: 0.4s;
    margin-bottom: 3rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.493), 0 6px 20px 0 rgba(0, 0, 0, 0.521);
    border-radius: 12px;
}

button[id="individual"]:hover{
    transform: scale(1.1);
}

button[id="collaborate"]{
    background-color: white;
    background-image: url("./colab.png");
    color: black;
    border: 2px solid #ffffff;
    width:20rem;
    height:20rem ;
    margin-top: 10rem;
    margin-left: 10rem;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.493), 0 6px 20px 0 rgba(0, 0, 0, 0.521);
    border-radius: 12px;
}

button[id="collaborate"]:hover{
    background-color: #000000; /* Green */
  color: white;
  transform: scale(1.1);
}



h1[id="selcth"]{
    margin-top: 2rem;
    margin-bottom: -4rem;
}